:root {
	--background-color: #fff;
	--white: #fff;
	--dark-blue: #294b71;
	--blue-gradient: linear-gradient(135deg, #294b71 0%, #5e6098 100%);
	--h1-color: #262e27;
	--h3-color: #1e1d24;
}

body {
	background-color: var(--background-color);
	font-family: Raleway, 'Open Sans', sans-serif;
}

header {
	background-color: var(--background-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	position: relative;
	position: sticky;
	top: 0;
	z-index: 1;
}

a {
	text-decoration: none;
}

section {
	height: 100%;
	padding: 16px;
	margin-bottom: 64px;
}

h2 {
	color: var(--h1-color);
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}

h3 {
	color: var(--h3-color);
	font-size: 20px;
	font-weight: 600;
}

p {
	color: #848484;
	font-size: 15px;
}

.button {
	background: var(--blue-gradient);
	padding: 16px 24px;
	font-size: 15px;
	font-weight: 700;
	color: var(--white);
	align-self: flex-start;
}

.header__logo {
	height: 24px;
}

.header__hamburguer-menu {
	width: 24px;
	height: 16px;
	background-image: url('../assets/img/Menu.svg');
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.menu-list {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
}

.menu-list__title,
.menu-list__item {
	padding: 1em;
	background-color: var(--white);
}

.menu-list__title,
.menu-list__link {
	color: var(--dark-blue);
}

.menu-list__title {
	text-transform: uppercase;
	font-weight: bold;
}

#hero {
	background-image: url('../assets/img/background.png');
	background-blend-mode: darken;
	background-color: #00000055;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -995px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-bottom: 0px;
}

#hero .container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#hero__title {
	color: var(--white);
	font-size: 40px;
	font-weight: 700;
}

.hero__text {
	color: #fff;
}

.about-us__image {
	display: none;
}

#about-us .container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#about-us .container p {
	text-align: center;
}

.about-us__benefits {
	list-style-position: inside;
}

.about-us__benefits li {
	list-style-image: url('../assets/img/ListIcon.svg');
	margin-bottom: 12px;
	color: #848484;
	font-size: 15px;
}

.our-services__service {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 32px 24px;
	transition: all 0.3s ease;
}

.our-services__service:hover {
	box-shadow: -6px -12px 40px 0px rgba(105, 127, 175, 0.05),
		12px 30px 50px 0px rgba(105, 127, 175, 0.15);
}

.service__icon {
	align-self: flex-start;
}

#our-services__title {
	margin-bottom: 16px;
}

#our-services .container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
