/* Raiz para facilitar possíveis mudanças */
:root {
	--background-color: #fff;
	--white: #fff;
	--light-blue: #eaf3f9;
	--dark-blue: #294b71;
	--blue-gradient: linear-gradient(135deg, #294b71 0%, #5e6098 100%);
	--h1-color: #262e27;
	--h3-color: #1e1d24;
	--text-color: #848484;
}

/* Estilos gerais */
* {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	font-family: Raleway, 'Open Sans', sans-serif;
}

header {
	align-items: center;
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	padding: 12px;
	position: relative;
	position: sticky;
	text-transform: capitalize;
	top: 0;
	z-index: 2;
}

a {
	text-decoration: none;
}

section {
	height: 100%;
	padding: 16px;
}

h2 {
	color: var(--h1-color);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

h3 {
	color: var(--h3-color);
	font-size: 20px;
	font-weight: 600;
}

p {
	color: var(--text-color);
	font-size: 15px;
}

/* Estilização da classe botão */
.button {
	align-self: flex-start;
	background: var(--blue-gradient);
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	padding: 16px 24px;
	transition: all 0.3s ease;
}

.button:hover {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}

/* Estliziação do header */
.header__logo {
	height: 24px;
}

.header__hamburguer-menu {
	background-image: url('../assets/img/Menu.svg');
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 24px;
}

.menu-list {
	display: none;
	position: absolute;
	right: 0%;
	top: 100%;
}

.menu-list__title,
.menu-list__item {
	background-color: var(--white);
	font-size: 15px;
	padding: 1em;
}

.menu-list__title,
.menu-list__link {
	color: var(--dark-blue);
	transition: all 0.3s ease;
}

.menu-list__link:hover {
	background-color: var(--dark-blue);
	color: var(--white);
}

.menu-list__title {
	font-weight: bold;
	text-transform: uppercase;
}

.header__button {
	display: none;
}

/* Estilização da Seção Hero (Início) */
#hero {
	align-items: center;
	background-blend-mode: darken;
	background-color: #00000055;
	background-image: url('../assets/img/background.png');
	background-position: -995px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin-bottom: 0px;
}

#hero .container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#hero__title {
	color: var(--white);
	font-size: 40px;
	font-weight: 700;
}

.hero__text {
	color: var(--white);
}

/* Estilização da Seção Sobre nós */
.about-us__image {
	display: none;
}

#about-us .container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#about-us .container p {
	text-align: center;
}

.about-us__benefits {
	list-style-position: inside;
}

.about-us__benefits li {
	color: var(--text-color);
	font-size: 15px;
	list-style-image: url('../assets/img/ListIcon.svg');
	margin-bottom: 12px;
}

/* Estilização da Seção Nossos Serviços */
#our-services {
	padding-top: 64px;
}

.our-services__service {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 32px 24px;
	transition: all 0.3s ease;
}

.our-services__service:hover {
	box-shadow: -6px -12px 40px 0px rgba(105, 127, 175, 0.05),
		12px 30px 50px 0px rgba(105, 127, 175, 0.15);
}

.service__icon {
	align-self: flex-start;
}

#our-services__title,
#reviews__title {
	margin-bottom: 16px;
}

#our-services .container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

/* Estilização da Seção de Reviews */
#reviews {
	align-items: center;
	background-color: var(--light-blue);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin-bottom: 0;
	padding-top: 64px;
}

#reviews .container {
	max-width: 900px;
	position: relative;
	width: 100%;
}

.reviews__slider__content {
	align-items: center;
	background-color: var(--white);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
}

.reviews__slider__image {
	border-radius: 50%;
	height: 160px;
	object-fit: cover;
	width: 160px;
}

.reviews__slider__content p {
	padding: 0 40px;
	text-align: center;
}

.reviews__slider__quote {
	color: var(--dark-blue);
	font-size: 32px;
}

.reviews__slider__details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
}

.slider__details__name {
	font-size: 14px;
	font-weight: 600;
}

.slider__details__job {
	font-size: 12px;
	font-weight: 400;
}

.swiper {
	height: 100%;
	width: 100%;
}

.slider__nav {
	display: none;
}

.swiper-pagination-bullet-active {
	background: var(--dark-blue);
}

/* Estilização da Seção Fale Conosco */

#form .container {
	max-width: 90%;
}

#form h2 {
	margin-bottom: 64px;
}

#form .row100 {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
}

#form .row100 .col {
	margin: 30px 0 10px;
	padding: 0 10px;
	position: relative;
	transition: 0.5s;
	width: 100%;
}

#form .row100 .inputBox {
	color: var(--dark-blue);
	height: 40px;
	position: relative;
	width: 100%;
}

#form .row100 .inputBox input,
#form .row100 .inputBox.textarea textarea {
	background: transparent;
	border: none;
	box-shadow: none;
	color: var(--white);
	font-size: 18px;
	height: 100%;
	outline: none;
	padding: 0 10px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#form .row100 .inputBox .text {
	display: block;
	font-size: 18px;
	left: 0;
	line-height: 40px;
	padding: 0 10px;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: 0.5s;
}

#form .row100 .inputBox input + .text {
	left: -10px;
	top: -35px;
}

#form .row100 .inputBox .line {
	background: var(--dark-blue);
	border-radius: 2px;
	bottom: 0;
	display: block;
	height: 2px;
	pointer-events: none;
	position: absolute;
	transition: 0.5s;
	width: 100%;
}

#form .row100 .inputBox input ~ .line {
	height: 100%;
}

#form .row100 .inputBox.textarea {
	height: 100px;
	padding: 10px 0;
	position: relative;
	width: 100%;
}

#form .row100 .inputBox.textarea textarea {
	height: 100%;
	resize: none;
}

#form .row100 .inputBox textarea + .text {
	left: -10px;
	top: -35px;
}

#form .row100 .inputBox textarea ~ .line {
	height: 100%;
}

/* Estilização do Footer */
footer {
	background-color: var(--light-blue);
	color: var(--text-color);
	padding: 16px;
}

.footer__container {
	display: grid;
	gap: 64px;
	grid-template-columns: 1fr;
}

.footer__logo {
	display: none;
}

.footer__container h3 {
	color: var(--h3-color);
	margin-bottom: 32px;
	text-transform: uppercase;
}

.footer__container a {
	color: var(--text-color);
	font-size: 15px;
	transition: all 0.3s ease;
}

.footer__container a:hover {
	color: var(--dark-blue);
}

.footer__container hr {
	background-color: var(--light-blue);
	border: none;
	height: 2px;
	margin-bottom: 16px;
}

.footer__infos {
	text-transform: capitalize;
}

.footer__contact ul {
	margin-bottom: 32px;
}

.footer__container li {
	font-size: 15px;
	margin-bottom: 16px;
}

.footer__socials {
	display: flex;
	gap: 32px;
}

.footer__copy {
	grid-column: 1/-1;
	margin-top: 0px;
}

@media screen and (min-width: 450px) {
	.footer__container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 590px) {
	#hero {
		background-position: right;
	}
}

@media screen and (min-width: 820px) {
	header {
		padding: 16px;
	}

	.header__logo {
		height: 32px;
	}

	.menu-list {
		display: flex;
		gap: 12px;
		position: initial;
	}

	.header__hamburguer-menu {
		display: none;
	}

	.menu-list__title {
		display: none;
	}

	#about-us {
		display: flex;
		gap: 32px;
		justify-content: center;
	}

	.about-us__image {
		display: unset;
		width: 320px;
	}

	#our-services .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.our-services__service {
		max-width: 100%;
	}

	.footer__container {
		grid-template-columns: 3fr 4fr 4fr;
	}

	.footer__logo {
		align-self: center;
		display: unset;
		display: flex;
		height: 40px;
		justify-self: center;
	}

	.menu-list__contact-us {
		display: none;
	}

	.header__button {
		display: unset;
	}

	.menu-list__item {
		background-color: unset;
	}

	#form .container {
		max-width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.header__logo {
		height: 32px;
	}

	.menu-list__item,
	.button,
	p,
	.footer__container a,
	.footer__container li {
		font-size: 18px;
	}

	#hero {
		align-items: start;
	}

	#hero .container {
		max-width: 852px;
	}

	#hero__title {
		font-size: 80px;
	}

	#about-us {
		align-items: center;
		gap: 88px;
		padding-top: 120px;
	}

	.about-us__image {
		width: 480px;
	}

	#about-us__title,
	#about-us .container p {
		text-align: left;
	}

	#about-us .container {
		gap: 40px;
		max-width: 508px;
	}

	.about-us__benefits li {
		font-size: 18px;
	}

	h2 {
		font-size: 48px;
	}

	#our-services {
		padding-top: 120px;
	}

	#our-services__title {
		margin-bottom: 64px;
	}

	.slider__nav {
		color: var(--dark-blue);
		display: unset;
	}
}

@media screen and (min-width: 1600px) {
	section {
		padding: 120px;
	}

	.about-us__image {
		width: 608px;
	}
}
